doctype html
html(lang="ca")
  head
    meta(charset="utf-8")
    title Joc de Caselles
    link(rel="stylesheet" href="/css/estils.css")
    script(src="/js/xhr.js")
    script(src="/js/fetch.js")
  body
    block content