//- Fragment reutilitzable per complir amb la modularitat de Pug (Arquitectura 3/3)
.marcador-container
  h2 Marcador
  p Jugador Vermell (1): span#punts-jug1 0
  p Jugador Blau (2): span#punts-jug2 0